<!DOCTYPE html>
<html>
    <head>



                <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                <meta name="robots" content="NONE,NOARCHIVE" />


            <title>PROFILE</title>



                    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
                    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>

                <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
                <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>



    </head>


    <body class="">



<div class="navbar navbar-static-top navbar-inverse">


                </div>



<div style="height:20%; width:30%; margin-top:12%; margin-left:40%;">
<div class="list-group">


<form role="form"  method="GET">

<br/>

                                        <div class="form-group input-group">

                                            <span class="input-group-addon"><i class="fa fa-circle-o-notch"  ></i></span>

                                            <input type="text" name="username" class="form-control" placeholder="Desired Username" />

                                        </div>



                                         <button type="submit">Submit</button>



                                    </form>









  </div>
</div>

</body>
</html>